{% extends 'base.html' %}
{% block content %}
<style>
    h1 {
      font-size: x-large;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      align-items: center;
      text-align: center;
      margin-bottom: 35px;
      margin-top: 35px;
    }
    h2 {
      font-size:xx-large;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-align: left;
    }
    h4 {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-align: center;
      margin-top: 30px;
    }
    h3 {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-align: left;
      margin-top: 35px;
    }
    #nounder {
      color: #749374;
      text-decoration: none;
    }
    td{
        align-items: center;
        align-self: center;
        text-align: center;
    }
    .card{

width: 400px;
border:none;

}




.btr{

border-top-right-radius: 5px !important;
}


.btl{

border-top-left-radius: 5px !important;
}

.btn-dark {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}


.btn-dark:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}


.nav-pills{

display:table !important;
width:100%;
}

.nav-pills .nav-link {
  border-radius: 0px;
      border-bottom: 1px solid #0d6efd40;

}

.nav-item{
    display: table-cell;
     background: #0d6efd2e;
}


.form{

padding: 10px;
    height: 300px;
}

.form input{

margin-bottom: 12px;
border-radius: 3px;
}


.form input:focus{

box-shadow: none;
}


.form button{

margin-top: 20px;
}
  </style>
<h1 style="text-align: center;">Login</h1>
<body style="background-image: url(https://i.pinimg.com/originals/ac/f6/94/acf6944e8300de6f05105448d3b8950b.jpg);">
<div class = "login">


    <form method="POST" action="">
        {% csrf_token %}
        <div class="d-flex justify-content-center align-items-center mt-5">
          <div class="card">
  
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                  
                  <div class="form px-4 pt-5">
  
                    <input type="text" name="username" placeholder="Username" class="form-control">
                    <input type="password" name="password" placeholder="Password" class="form-control">
                    <input class="btn login_btn" type="submit" value="Login">
  
                  </div>
                </div>
      
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    Don't have an account? <a id = "nounder" href="{% url 'todolist:register' %}">Create Account</a>

</div>
</body>
{% endblock content %}