{% extends 'base.html' %}
{% block content %}
<h5> {{username}} </h5>

<table>
    <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Description</th>
    </tr>
    {% for task in todolist %}
      <tr>
          <td>{{task.date}}</td>
          <td>{{task.title}}</td>
          <td>{{task.description}}</td>
          {% endfor %}
      </tr>
</table>
<h5>Last Login: {{ last_login }}</h5>
<button><a href="{% url 'todolist:create_task' %}">New Task</a></button>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>

{% endblock content %}