{% extends 'base.html' %}

{% block content %}
<h5>Name: {{Name}}</h5>
<h5>Student ID: {{NPM}}</h5>

<h5>My watch list</h5>

<table>
    <tr>
    <th>Title</th>
    <th>Watched</th>
    <th>Rating</th>
    <th>Release date</th>
    <th>Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for item in items %}
    <tr>
        <th>{{item.title}}</th>
        <th>{{item.watched}}</th>
        <th>{{item.rating}}</th>
        <th>{{item.release_date}}</th>
        <th>{{item.review}}</th>
    </tr>
{% endfor %}
</table>

{% endblock content %}